body {
    background-color: #ffffff;
    font-family: "Lato", sans-serif;
    color: #333333;
    font-size: 16px;
    overflow-x: hidden;
}
#aa-header .aa-header-top .aa-header-top-right {
    float: right;
}
#aa-header .aa-header-top .aa-header-top-right .aa-head-top-nav-right {
    display: inline-block;
    text-align: right;
}
#aa-header .aa-header-top .aa-header-top-right .aa-head-top-nav-right li {
    display: inline-block;
    text-align: right;
}
#aa-header .aa-header-top .aa-header-top-right .aa-head-top-nav-right li a {
    display: inline-block;
    color: #333333;
    border-right: 1px solid #ddd;
    font-size: 14px;
    padding: 5px 8px;
}
#aa-catg-head-banner {
    display: inline;
    float: left;
    position: relative;
    width: 100%;
}
#aa-catg-head-banner .aa-catg-head-banner-area {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
#aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content {
    display: inline-block;
    float: left;
    padding: 10% 0;
    text-align: center;
    width: 100%;
    color:red;
}